html {
    scroll-behavior: smooth;
    height: 100%;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

body::-webkit-scrollbar {
    position: fixed;
}

*, ::after, ::before {
    box-sizing: unset;
}

body::-webkit-scrollbar-thumb {
    background: #4285f4 !important;
    border-radius: 5px;
    height: 10vw;
}

body::-webkit-scrollbar-thumb:hover {
    background: #3469c3 !important;
}

body::-webkit-scrollbar-track {
    background: #4d504d;
}

#dataset_picker {
    display: inline-block;
}

#navbar {
    background-color: #2e2e2e;
}

.active-mode {
    transform: scale(1.2);
    color: black !important;
    background-color: white !important;
    z-index: 1000;
}

#logo {
    width: 10%;
    margin-right: 2%;
}

#logo-text {
    font-size: 35px;
    font-weight: bolder;
    margin-right: 5%;
}

#scroll-to-top-btn {
    z-index: 5;
    position: fixed;
    bottom: 5%;
    left: 0.5%;
    display: none;
}

#scroll-to-top-btn:hover {
    transform: scale(1.1);
}

#scroll-to-top-btn > .btn {
    padding: 12px 16px !important;
    border-radius: 100% !important;
}

#scroll-to-top-btn > .btn > i {
    font-size: 1.2em;
}

#landing {
    min-height: 100%;
    padding-bottom: 5%;
}

#root {
    flex: 1;
}

#footer {
    z-index: 1;
    background-color: #2e2e2e;
    color: white;

    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;

    position: relative;
    margin-top: 5%;
}

#footer > p {
    vertical-align: middle;
    margin-bottom: 0;
}
