allennlp==0.9.0
chainer>=7.1.0
jsonnet>=0.10.0 ; sys.platform != 'win32'
matplotlib>=3.0.2
numpy
mlflow>=1.8.0
overrides==3.0.0
nltk==3.4.5
scikit-learn
scipy
pytest
pymorphy2==0.8
requests>=2.18
responses>=0.7
spacy==2.1.8
sphinx>=2.3
flask
h5py
stanfordnlp>=0.2.0
tensorboardX>=1.2
torch
wordfreq
tqdm
pandas
transformers
wget==3.2
flaky
fire
HanTa