allennlp==0.9.0
jsonnet>=0.10.0 ; sys.platform != 'win32'
matplotlib>=3.0.2
mlflow>=1.8.0
numpy
nltk==3.4.5
overrides
scikit-learn
scipy
pytest
requests>=2.18
responses>=0.7
spacy==2.1.8
sphinx>=2.3
flask
h5py
stanfordnlp>=0.2.0
tensorboardX>=1.2
torch==1.4.0
wordfreq
tqdm
pandas
transformers==3.5.1
wget==3.2
flaky
fire
